.header-inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1400px;
    margin: auto;
    padding: 20px 20px;
}
.header-item {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
}
.header-link {
    text-decoration: none;
    position: relative;
    display: block;
}
.header-logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;
}
nav a
{
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: rgb(58, 58, 58);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-family: Arial;
  font-size: 14px;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
  z-index: 125;
}